<mat-toolbar color="primary">
  <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon> -->

  <span>My App | </span>
  <nav>
    <a routerLink="/dashboard">Dashboard </a> <a routerLink="/products">Products</a>
    <a routerLink="/upload">Upload</a>
  </nav>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
